@font-face {
  font-family: 'formofill';
  src:url('/fonts/formofill.eot?78ljd6');
  src:url('/fonts/formofill.eot?#iefix78ljd6') format('embedded-opentype'),
  url('/fonts/formofill.woff?78ljd6') format('woff'),
  url('/fonts/formofill.ttf?78ljd6') format('truetype'),
  url('/fonts/formofill.svg?78ljd6#formofill') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@-webkit-keyframes bucket0 {
  from   { transform: rotate(0deg); }
  to { transform: rotate(90deg); }
}

@-webkit-keyframes bucket1 {
  from   { transform: rotate(90deg); }
  to { transform: rotate(0deg); }
}

.icon {
  font-family: 'formofill';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bucket:before {
  content: "\e600";
}
.icon-plus:before {
  content: "\e606";
}
.icon-warning:before {
  content: "\e602";
}
.icon-install:before {
  content: "\e601";
}

body {
  font-family: 'Open Sans', Arial,sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  font-weight: 400;
  height: 100%;
}

body * {
  margin: 0;
  padding: 0;
}

header {
  background: #030392; /* Old browsers */
  background: linear-gradient(to bottom,  #030392 0%,#1a38bc 100%); /* W3C */
  color: #fff;
  text-align: center;
  height: 10rem;
  box-shadow: 0 2px 3px 0 #999;
}

header h1 {
  font-size: 4rem;
  margin: 0;
  text-shadow: 1px 1px 2px #eee;
}

header h2 {
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

header .icon {
  font-size: 7rem;
  color: #030392;
  bottom: -0.2rem;
  position: relative;
  background-color: #fff;
  width: 8.5rem;
  border-radius: 50%;
  text-align: center;
  height: 8.5rem;
  margin: auto;
}

header .icon:before {
  left: -0.3rem;
  top: 1rem;
  position: relative;
  transform: rotateZ(0);
  display: inline-block;
  -webkit-animation: bucket0 3s 5s 2 alternate;
}

p {
  margin-bottom: 10px;
}

article {
  padding: 5.5rem 1rem 0 1rem;
  margin: 0 auto;
  width: 1280px;
}

figure {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  float: left;
  margin-left: 10px;
  width: 49%;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px #eee;
}

.figures figure:nth-child(2n+1) {
  margin-left: 0;
}

figure img {
  max-width: 100%;
  max-height: 13rem;
}

figcaption {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.figures {
  overflow: hidden;
  display: flex;
  flex: 1;
}

ul {
  list-style: none;
}

li {
  padding: 5px 0;
}

li:before {
  font-family: formofill;
  content: "\e600";
  margin-right: 10px;
}

section {
  display: inline-block;
}

section.content {
  width: 800px;
}

section.sidebar {
  vertical-align: top;
  margin-left: 40px;
  margin-top: 25px;
}

.install {
  margin-top: 15px;
}

.install-now {
  color: #999;
}

span.time {
  color: #999;
  font-size: 11px;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

p img {
  vertical-align: middle;
  padding: 10px;
  border: 1px solid #eee;
}

form.demoform {
  background-color: #eee;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 3px;
  margin: 10px;
}

img.fig {
    padding:  5px;
  
    margin:  10px;
    border: 1px solid #999;
    border-radius: 3px;
}