---
---
body.tutorial {
  * {
    box-sizing: border-box;
  }

  > header:first-of-type {
    height: 5rem;
    h1 {
      cursor: pointer;
    }
  }

  .content {
    width: auto;
  }

  .introjs-prevbutton {
    visibility: hidden;
    width: 0;
    display: none;
  }

  .introjs-skipbutton {
    float: left;
  }

  .tuts {
    display: none;
  }

  .introjs-helperLayer.hidden {
    display: none;
  }

  .rules {
    display: none;
  }

  .tut-intro {
    float: left;
    width: 32%;
    height: 182px;
    right: 10px;
    margin-right: 10px;

    &:nth-child(3n+2) {
      margin-right: 0;
    }

    .panel-heading {
      font-weight: bold;
    }
  }

  form {
    width: 500px;
  }

  textarea.form-control {
    font-size: 11px;
    min-width: 500px;
    min-height: 200px;
    font-family: Helvetica, Arial, Monospace;
  }

  .introjs-tooltip {
    min-width: 300px;
  }

}

.top-right {
  position: absolute;
  top: 25px;
  right: 47px;
}
