<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Form-O-Fill: The programmable form filler for developers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="zl_8vEs8F1cwKElH-e6wB1gx9w9lk2fSghhKNM5uGLU" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/tutorial.css">
    <link rel="stylesheet" href="/vendor/intro.js/introjs.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/iebbppibdpjldhohknhgjoapijellonp">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.atom">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body class="tutorial">
    <header>
      <h1>Form-O-Fill Tutorials</h1>
    </header>
    <article>
      <section class="content">
        {{ content }}
      </section>
    </article>
    <div class="top-right"></div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/vendor/intro.js/intro.js"></script>
    <script src="/js/main.js"></script>
    <script src="/tutorial/tutorial.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52919015-1', 'auto');
    ga('send', 'pageview');
    </script>
  </body>
</html>
